<div class="navbarContent">

  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <i class="fab fa-pinterest"></i>
      <form class="form-inline my-2 my-lg-0">
        <div class="inner-addon left-addon">
          <i class="fas fa-search"></i>
          <input class="form-control mr-sm-2" id="inputSearch" placeholder=" Buscar" aria-label="Search" name="barSearch"
            (keyup)="onKey($event)" form ng-keypress="controlador.keyPressOnForm($event)">
        </div>
      </form>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navElements">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Siguiendo</a>
        </li>
        <li class="nav-item">
          <p class="letterC">C</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carolina</a>
        </li>
        <div class="itemsElements">
          <li class="nav-item">
            <i class="fas fa-comment-dots"></i>
          </li>
          <li class="nav-item">
            <i class="fas fa-bell"></i>
          </li>
          <li class="nav-item">
            <i class="fas fa-ellipsis-h"></i>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>
